<template>
  <c-main class="u-stack-flex">
    <c-panel title="Filtros">
      <c-row>
        <c-col sm="12" md="7">
          <c-form-field label="Proveedor">
            <c-multiselect
              v-model="provider"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Región">
            <c-multiselect
              v-model="region"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Comuna">
            <c-multiselect
              v-model="commune"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
      </c-row>
      <c-row>
        <c-col sm="12" md="7">
          <c-form-field label="Tipo de TKT">
            <c-multiselect
              v-model="tkt_type"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Tipo de Servicio">
            <c-multiselect
              v-model="service_type"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7"></c-col>
      </c-row>
    </c-panel>

    <c-panel title="TKTs no asignados a tecnicos">
      <table class="table table--hover">
        <thead>
          <tr>
            <th>TKT</th>
            <th>Cliente</th>
            <th>Fecha Agendada</th>
            <th>Fecha Creación</th>
            <th>Fecha Limite SLA</th>
            <th>Usuario</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tkt in collectionData">
            <td>{{tkt.id}}</td>
            <td>{{tkt.client}}</td>
            <td>{{tkt.assigned_date}}</td>
            <td>{{tkt.created_at}}</td>
            <td>{{tkt.sla_date}}</td>
            <td>{{tkt.user}}</td>
            <td><span class="badge"> NO ASIGNADO</span></td>
          </tr>
        </tbody>
      </table>
      <c-row>
        <c-col sm="12" md="20"></c-col>
        <c-col>
          <c-pagination :value="1" :pager="false" :total="10" />
        </c-col>
      </c-row>
    </c-panel>
  </c-main>
</template>

<script>
export default {
  name: 'UnassignedDispatchesView',
  data () {
    return {
      provider: '',
      region: '',
      commune: '',
      tkt_type: '',
      service_type: '',
      collection: [
        { value: 'red', label: 'Red' },
        { value: 'blue', label: 'Blue' }
      ],
      collectionData: [
        {
          id: 'IN227486',
          client: 'BANCO ESTADO',
          assigned_date: '14/05/2018 12:00:00',
          created_at: '14/05/2018 07:30:12',
          sla_date: '14/05/2018 07:30:12',
          user: 'ROBERTO ANDRES MUÑOZ ESPINOZA'
        },
        {
          id: 'IN227484',
          client: 'BANCO ESTADO',
          assigned_date: '11/05/2018 16:00:00',
          created_at: '13/05/2018 07:30:12',
          sla_date: '14/05/2018 07:30:12',
          user: 'IGNACIO SILVA MORA'
        }
      ]
    }
  }
}
</script>
