<template>
  <c-main class="u-stack-flex">
    <article class="message">
      <figure class="message__media">
        <img src="../assets/logo.svg">
      </figure>
      <h1 class="message__title">Historic</h1>
      <div class="message__content">
        Great! you create your first webapp with Vue.js & Cover
      </div>
    </article>
  </c-main>
</template>

<script>
export default {
  name: 'HistoricView'
}
</script>

