<template>
  <c-main class="u-stack-flex">
    <c-panel title="Datos del TKT">
      <c-row>
        <c-col sm="12" md="7">
          <c-form-field label="Cliente">
            <c-multiselect
              v-model="client"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Nro TKT">
            <c-multiselect
              v-model="tkt_number"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Tipo">
            <c-multiselect
              v-model="tkt_type"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
      </c-row>
      <c-row>
        <c-col sm="12" md="7">
          <c-form-field label="Región">
            <c-multiselect
              v-model="region"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Comuna">
            <c-multiselect
              v-model="commune"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Sucursal">
            <c-multiselect
              v-model="local"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
      </c-row>
      <c-row>
        <c-col md="21">
          <c-form-field label="Detalle">
            <c-form-textarea v-model="detail" />
          </c-form-field>
        </c-col>
      </c-row>
    </c-panel>

    <c-panel title="Otros datos">
      <c-row>
        <c-col sm="12" md="7">
          <c-form-field label="Nro Ticket SAP">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
      </c-row>
    </c-panel>

    <c-panel title="Datos del Proveedor">
      <c-row>
        <c-col sm="12" md="7">
          <c-form-field label="Región">
            <c-multiselect
              v-model="pRegion"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Comuna">
            <c-multiselect
              v-model="pCommune"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="12" md="7">
          <c-form-field label="Sucursal">
            <c-multiselect
              v-model="pLocal"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
      </c-row>
    </c-panel>

    <c-panel type="ghost">
      <c-row>
        <c-col sm="6" md="4">
          <c-form-field label="Cantidad de Servicios">
            <c-multiselect
              v-model="servicesCount"
              :searchable="false"
              :options="numbers"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>

        </c-col>
        <c-col sm="18" md="20"></c-col>
      </c-row>
    </c-panel>

    <c-panel title="Servicio" v-for="i in servicesCount">
      <c-row>
        <c-col sm="12" md="7">
          <c-form-field label="Tipo de Servicio">
            <c-multiselect
              v-model="pLocal"
              track-by="value"
              label="label"
              :options="collection"
              placeholder="Seleccione...">
            </c-multiselect>
          </c-form-field>
        </c-col>
        <c-col sm="6" md="4">
          <c-form-field label="Fecha atención">
            <c-flatpickr />
          </c-form-field>
        </c-col>
        <c-col sm="6" md="4">
          <c-form-field label="Hora">
            <c-flatpickr only-time min="08:00" max="19:00" />
          </c-form-field>
        </c-col>
      </c-row>
      <c-row>
        <c-col md="15">
          <c-form-field label="Detalle">
            <c-form-textarea />
          </c-form-field>
        </c-col>
      </c-row>
    </c-panel>

    <c-panel title="Otros datos">
      <c-row>
        <c-col sm="12" md="6">
          <c-form-field label="Tiempo Limite SLA">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="18"> </c-col>
      </c-row>
      <c-row>
        <c-col sm="12" md="6">
          <c-form-field label="Nombre Usuario">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="Teléfono">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="Correo">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6"> </c-col>
      </c-row>
      <c-row>
        <c-col sm="12" md="6">
          <c-form-field label="Tipo Equipo">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="Modelo">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="Serie">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="Sistema Operativo">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
      </c-row>
      <c-row>
        <c-col sm="12" md="6">
          <c-form-field label="Perfil Usuario">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="IP / Nombre Maquina / Nº POS">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="Requiere cambio">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
        <c-col sm="12" md="6">
          <c-form-field label="Sistema Operativo">
            <c-form-input placeholder="Ingresa..." />
          </c-form-field>
        </c-col>
      </c-row>
    </c-panel>

  </c-main>
</template>

<script>

export default {
  name: 'ScheduleView',
  data () {
    return {
      client: '',
      tkt_number: '',
      tkt_type: '',
      region: '',
      commune: '',
      local: '',
      pRegion: '',
      pCommune: '',
      pLocal: '',
      detail: '',
      servicesCount: 1,
      numbers: [1, 2, 3, 4],
      collection: [
        { value: 'red', label: 'Red' },
        { value: 'blue', label: 'Blue' }
      ]
    }
  }
}
</script>


<style lang="scss">
  h2{
    font-weight: bolder;
  }

  .panel--ghost{
    margin-bottom: 0;
    .panel__body{
      padding-bottom: 0;
    }
  }
</style>
