<template>
  <nav class="navbar navbar--light">
    <div class="navbar__start">
      <a class="navbar__item u-hidden-up@lg" @click="toggleSider">
        <i class="i-menu i-menu--light"></i>
      </a>
      <!-- <a class="navbar__item u-hidden-down@sm">Home</a> -->
    </div>
    <div class="navbar__end">
      <div class="navbar__item u-hidden-down@sm">
        <c-form-input icon-start="icon-search" placeholder="Buscar..." flat />
      </div>
      <c-dropdown placement="bottom-end">
        <div class="navbar__item">
          <a role="button" class="account">
            <figure class="account__media">
              <img class="avatar" src="../assets/avatar.jpg" alt="">
            </figure>
            <div class="account__after">
              <i class="i-caret i-caret--light"></i>
            </div>
          </a>
        </div>
        <c-dropmenu slot="content">
          <c-dropmenu-item title="Perfil" />
          <c-dropmenu-divider />
          <c-dropmenu-item title="Salir" />
        </c-dropmenu>
      </c-dropdown>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  methods: {
    toggleSider() {
      this.$root.siderOpen = !this.$root.siderOpen;
    }
  }
};
</script>
