<template>
  <c-menu theme="dark" :activeIndex="$route.path" @select="handleMenuSelect">
    <!-- <c-menu-heading label="Overview" /> -->
    <c-menu-item index="/" icon="icon-home" label="Inicio" />
    <c-menu-item index="/schedule" icon="icon-calendar" label="Agendamiento" />
    <!-- <c-menu-divider /> -->
    <c-submenu index="pages" icon="icon-truck" label="Despacho">
      <c-menu-item index="/dispatches/unassigned" label="Sin Asignar" />
      <c-menu-item index="/dispatches/assigned" label="Asignados" />
    </c-submenu>
    <c-menu-item index="/historic" icon="icon-books" label="Historico" />
  </c-menu>
</template>

<script>
export default {
  name: 'Navigation',
  methods: {
    handleMenuSelect (index) {
      this.$router.push(index)
    }
  }
}
</script>
