<template>
  <c-app :sider-open="$root.siderOpen">
    <c-sider>
      <c-brand class="u-bg-primary" slot="start">
        <!-- <img src="../assets/logo-white.svg" alt="Cover"> -->
        <h4 class="brand"> 
          <span class="car left">(</span>
          <span class="top">Servicios</span>
          <span class="bottom">Empresariales</span>
          <span class="car right">)</span>
          </h4>
      </c-brand>
      <Navigation />
    </c-sider>
    <c-content>
      <c-header>
        <Navbar />
      </c-header>
      <c-body>
        <router-view></router-view>
      </c-body>
      <c-footer>
      </c-footer>
    </c-content>
  </c-app>
</template>

<script>
import Navigation from '../components/navigation.vue'
import Navbar from '../components/navbar.vue'
export default {
  name: 'Dashboard',
  components: {
    Navigation,
    Navbar
  }
}
</script>

<style lang="scss">
  .brand{
    color: white;
    span{
      font-size: 13px;
      position: relative;
      &.car{
        font-size: 30px;
      }
      &.left{
        top: 25px;
        left: -10px;
      }
      &.right{
        top: -26px;
        left: 12px;
      }
      &.top{
        top: -5px;
        text-align: center;
        font-style: italic;
        display: block;
      }
      &.bottom{
        opacity: 0.8;
        top: -20px;
        left: 8px;
      }
    }
  }

</style>
